.container{
    background-color: rgb(107, 88, 88);
    margin: 30px;
    padding: 40px;
}

.btnContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.btn{
    background-color: rgb(12, 28, 28);
    border: none;
    border-radius: 10px;
    padding: 20px;

}
h2{
    text-align: center;
}
.image{
    width: 80%;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto;

}